<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.cn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    <add key="Well Package Source" value="http://123.57.57.116/WellNuGetService/nuget" protocolVersion="1" allowInsecureConnections="true" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </activePackageSource>
</configuration>